.title {
    padding-top: 61px;
    padding-left: 80px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;
}

.main {
    // width: calc(100% / 2);
    // flex-grow: 1;
    // display: flex;
    // flex-flow: row;
    // // align-items: center;
    // // justify-content: space-between;
}


.side-bar {
    width: 256px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
}

select {
    border: none;

}

select:focus-visible {
    outline: none;
}

.select-gender {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    letter-spacing: 0.03em;

    color: #000000;
}

.bottom-opinion {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    letter-spacing: 0.03em;

    color: #BFBEBE;

}

.input {
    margin-top: 74px;
    margin-bottom: 15px;
    width: 256px;

    text-decoration: none;
    border: none;
    border-bottom: 1px solid #BFBEBE;
    
}

.input:focus-visible {
    outline: none;
}


.card--container {
    margin-top: 98px;
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {

    width: calc(100% / 3);
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 70px;
    
    &__img {
        max-width: 140px;
        width: 100%;
    }

    &__desc {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.03em;

        color: #000000;
    }

    span {

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        letter-spacing: 0.03em;

        color: #BFBEBE;
    }

    &__cost1 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        
        letter-spacing: 0.03em;

        color: #000000;
    }

    &__cost2 {
        padding-left: 8px;
        padding-right: 18px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    
        letter-spacing: 0.03em;
        text-decoration-line: line-through;

        color: #A9A9A9;
    }

    &__star {
        width: 12px;
        height: 12px;
    }

    &__desc1 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.01em;

        color: #000000;
    }

    &__desc2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.01em;

        color: #000000;
    }

    &__cost3 {
        padding-right: 107px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;

        letter-spacing: 0.01em;

        color: #000000;
    }

    &__desc_black {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;

        color: #000000;
    }
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
    height: 38px;

    padding-top: 25px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 24px;

    width: 240px;
    height: 38px;
}

.card:nth-child(3n+2) {
    border: solid #BFBEBE;
    border-width: 0px 1px 0px 1px ;
    }